{% comment %}
  A template for the community_population_and_location inclusion tag.
  A `community` context variable is expected.
{% endcomment %}

{% if community.number_of_adults > 0 or community.number_of_children > 0 %}
  <span class="population">
    {% if community.number_of_adults > 0 %}
      {{ community.number_of_adults }} Adult{{ community.number_of_adults|pluralize }}
    {% endif %}
    {% if community.number_of_children > 0 %}
      {% if community.number_of_adults > 0 %} and {% endif %}
      {{ community.number_of_children }} Child{{ community.number_of_children|pluralize:"ren" }}
    {% endif %}
  </span>
{% endif %}
{% if community.general_location %}
  in <span class="location">{{ community.general_location }}</span>
{% endif %}
