{% extends "site.html" %}
{% load pages_tags mezzanine_tags %}

{% block content %}

<div class="container">

<!-- Messages -->
{% include 'includes/messages.html' %}

<!-- Page Title -->
<h1>{% block title %}{% endblock %}</h1>

<!-- Breadcrumbs -->
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>

</div>


<div class="container">
<div class="row">

<div class="col-xs-12 col-md-9 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-sm-12 visible-sm"><hr class='visible-sm' /></div>

<div class="hidden-xs col-sm-12 col-md-3 right">
    {% block right_panel %}
    {% endblock %}
</div>

</div>
</div>

{% endblock %}
