<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load communities_tags pages_tags mezzanine_tags i18n future staticfiles cache %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" type="text/less" href="{% static "less/fec.less" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
<link rel="stylesheet" href="{% static "css/fec.css" %}">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<!-- Footer Lightboxes -->
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    /* Simple Lightboxs for the Profile & Random Images */
    $('.profile-image').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
    });
    $('#footer-random-photo').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
    });
});
</script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<!-- Site Header -->
<div class="container" id="site-header">
  <div class="col-sm-7 col-md-8">
    <!-- Horizontal Logo + Title -->
    <div class="hidden-xs media" id="site-logo-title">
      <a href="/" class="pull-left">
        <img class="" alt="FEC Logo" src="{% static "img/fec_logo.png" %}"  style="height:120px;"/>
      </a>
      <a href='/'>
        <div class="media-body" id="site-title">
          <div class="media-heading h1">
            Federation of<br />
            Egalitarian Communities
          </div>
        </div>
      </a>
    </div>
    <!-- Stacked Logo + Title -->
    <div class="visible-xs" id="site-logo-title-xs">
      <a href="/">
        <img class="image-center img-responsive" alt="FEC Logo"
             src="{% static "img/fec_logo.png" %}"  style="height:75px;" />
        <div class="h1 text-center">Federation of Egalitarian Communities</div>
      </a>
    </div>
  </div>

  <div class="hidden-xs col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1"
       id="site-tagline-search">
    <!-- Search Form -->
    <div class="pull-right">
      <form action="{% url "search" %}" class="pull-right"
            id="site-search" role="search">
        <div class="form-group">
          <input id='site-search' placeholder="{% trans "Search..." %}"
                 type="text" name="q" value="{{ request.REQUEST.q }}" />
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
    <!-- Tag Line -->
    <span class="navbar-text pull-right" id="site-tagline">{{ settings.SITE_TAGLINE }}</span>
  </div>
</div>

<!-- Nav Bar -->
<div class="navbar navbar-default" role="navigation"
     id="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      {% page_menu "pages/menus/dropdown.html" %}
      <!-- Search Form -->
      <div class="visible-xs">
        {% search_form "all" %}
      </div>
    </div>
  </div>
</div>


<!-- Main Content -->
{% block content %}{% endblock %}


<!-- Footer -->
<footer>
<div class="container">
<div class="row site-info">
  <!-- Community Spotlight -->
  {% nevercache %}
  {% cache 86400 community_spotlight %}
  {% community_random as random_community %}
  {% if random_community %}
    <div class="col-sm-4" id="footer-community-spotlight">
      {% community_blurb random_community truncate_description_at=50 %}
    </div>
  {% endif %}
  {% endcache %}
  {% endnevercache %}

  <hr class="visible-xs" />

  <!-- Photos of Us -->
  {% nevercache %}
  {% community_random_image as random_image %}
  {% if random_image %}
    <div class="col-sm-4 text-center">
      <a rel="#image-{{ random_image.id }}" title="{{ random_image.description }}"
         href="{{ random_image.file.url }}" id="footer-random-photo">
        <img class="img-responsive image-center" id="#image-{{ random_image.id}}"
             src="{{ MEDIA_URL }}{% thumbnail random_image.file 360 215 %}" />
      </a>
      <div>
        <small><em>
          Posted by
          <a href="{{ random_image.community.get_absolute_url }}">
            {{ random_image.community.title }}
          </a>
        </em></small>
      </div>
    </div>
  {% endif %}
  {% endnevercache %}

  <hr class="visible-xs" />

  <!-- Copyright & Contact -->
  <div class="col-sm-4 text-center">
    <p>Please visit our sister organization, the Fellowship for Intentional Community
      <a href="http://www.ic.org/" target="_blank" id="fic-link">
        <img class="image-center" src="{% static "img/fic_logo.png" %}"
             alt="The Fellowship for Intentional Community Website" />
      </a>
    </p>
    <div>
      <div>
        <!-- Content License -->
        Original content licensed under
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
          Creative Commons BY-SA 4.0</a>.
        <!-- Source Code License -->
        Website source code licensed under
        <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">
          GNU GPLv3</a>
        and
        <a href="https://github.com/FederationOfEgalitarianCommunities/FECWebsite" target="_blank">
          available online</a>.
      </div>
      <div>
        <!-- Contact & Report a Bug Links -->
        <a href="mailto:secretary@thefec.org?subject=FEC%20Website%20Contact">
          Contact Us</a>
        <a href="mailto:webmaster@thefec.org?subject=FEC%20Website%20Bug%20Report">
          Report a Bug</a>
      </div>
      <div>
        <!-- Copyright Year -->
        <span class="glyphicon glyphicon-copyright-mark"></span> 1999&ndash;2015
      </div>
      <div>
        <!-- Blog RSS Feed -->
        <a href="{% url "blog_post_feed" format="rss" %}">
          <img class="image-center" src="{% static "img/rss_icon.png" %}"
              alt="The FEC RSS Feed" />
        </a>
      </div>
    </div>
  </div>

</div>
</div>
</footer>


{% include "includes/footer_scripts.html" %}

</body>
</html>
