/* FEC CSS Customizations */


/* Justify Text */
.text-justify {
  text-align: justify;
}

/* Center an Image */
.image-center {
  margin-left: auto;
  margin-right: auto;
}



/* Footer */


/* Remove Bottom Margin from Community Spotlight Profile Image */
div#footer-community-spotlight img {
  margin-bottom: 0px;
}



/* Communities */


/* Community Listings Customizations */
/* Remove Top Margins for Alignment w/ Top of Sidebar */
h2#member-communities, h3#all-latest-blog-posts-sidebar {
  margin-top: 0;
}
/* Remove Top Margin to Reduce Space Between Image Thumbnail and Header */
.thumbnail .caption h4.community-name, {
  margin-top: 0;
}
/* Remove Top Padding to Reduce Space Between Image Thumbnail and Header */
.thumbnail .caption.community-info {
  padding-top: 0;
}
/* Reduce Bottom Padding to Reduce Space Between Image Thumbnail and Header */
.community-listings-thumbnail .profile-image img {
  margin-bottom: 10px;
}

/* Community Details Customizations */
/* Center the Profile Image (for small screens) */
#community-detail-profile-image img {
  margin-left: auto;
  margin-right: auto;
}
/* Remove Bottom Margin from Description List Address */
dd.address address, dd.address address p {
  margin-bottom: 0;
}
/* Reduce Margins to Reduce Space Around the Latest Updates Header */
h2.community-latest-updates {
  margin-top: 10px;
  margin-bottom: -10px;
}
/* Reduce Bottom Margin to Reduce the Space Above the Latest Updates Header */
div.community-description-list dl {
  margin-bottom: 10px;
}
/* Fixed Height Documents Table
 * http://stackoverflow.com/a/22855568/1998376
 */
.header-fixed {
  width: 100%
}
.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
   display: block;
}
.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
.header-fixed > tbody {
  overflow-y: auto;
  height: 150px;
}
.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  width: 50%;
  float: left;
}



/* Documents */


/* Document Category Details Customizations */
/* Remove the Bottom Margin From the Collapseable List Groups */
div#children .panel ul.list-group {
  margin-bottom: 0;
}
/* Remove the Left and Right Borders from List Groups in Panels */
div#children .panel ul.list-group li {
  border-width: 1px 0 0 0;
}
/* Remove the Top Margin from the First Sidebar Header */
h3#newest-documents-sidebar-header {
  margin-top: 0;
}

/* Root Document Listing Customizations */
/* Remove the Bottom Border from the Root Category Tabs */
ul#root-category-tabs {
  border-bottom-width: 0;
}

/* Document Detail Customizations */
/* Remove the Top Margin from the First Sidebar Header */
h3#related-documents-sidebar-header {
  margin-top: 0;
}
