{% extends "pages/page.html" %}
{% comment %}
  This template renders a Document and it's details.

  It expects a `document` variable in the context.
{% endcomment %}

{% load documents_tags mezzanine_tags %}


<!-- Title -->
{% block meta_title %}{{ document.title }}{% endblock %}
{% block title %}
  {% editable document.title %}{% endeditable %}
{% endblock %}


<!-- Breadcrumbs -->
{% block breadcrumb_menu %}
  {{ block.super }}
  {% category_breadcrumbs document.category is_active=False %}
  <li class="active">{{ document.title }}</li>
{% endblock %}


{% block main %}
<!-- Shared By -->
{% if document.community %}
  {% editable document.community %}
  <h5>Shared by
    <a href="{{ document.community.get_absolute_url }}">
      {{ document.community.title }}
    </a>
  </h5>
  {% endeditable %}
{% endif %}

<!-- Document Contents -->
<div class="row" id="document-contents">
  <div class="col-sm-12">
    {% editable document.contents %}
    {{ document.contents|richtext_filters|safe }}
    {% endeditable %}
  </div>
</div>

{% endblock %}


{% block right_panel %}
  <!-- Related Documents -->
  {% with document.related_documents as related_documents %}
    {% if related_documents %}
      <h3 class="text-center" id="related-documents-sidebar-header">
        Related Documents
      </h3>
      <ul class="list-group">
        {% for related_document in related_documents %}
          <li class="list-group-item">
            <a href="{{ related_document.get_absolute_url }}">
              {{ related_document.title }}
            </a>
            <small>
              in
              <a href="{{ related_document.category.get_absolute_url }}">
                {{ related_document.category.title }}
              </a>
            </small>
          </li>

        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <!-- Top Categories -->
  {% include "documents/includes/top_categories_list_group.html" %}

  <!-- Tag Cloud -->
  {% include "documents/includes/tag_cloud.html" %}
{% endblock %}
