{% extends "pages/page.html" %}
{% comment %}
  A `community` variable is expected. A `page` variable will be automatically
  passed by Mezzanine if a `Page` matches the URL.
{% endcomment %}

{% load core_filters communities_tags mezzanine_tags cache staticfiles %}


{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}


{% block meta_title %}{{ community.title }}{% endblock %}
{% block title %}
  {% editable community.title %}{% endeditable %}
{% endblock %}


<!-- Breadcrumbs -->
{% block breadcrumb_menu %}
  {{ block.super }}
  <li class="active">{{ community.title }}</li>
{% endblock %}



{% block main %}

<div class="row">
  <!-- Full Description -->
  <div class="col-sm-6 col-md-6 col-xl-4 full-description">
  {% if community.full_description %}
    {% editable community.full_description %}
    {{ community.full_description|richtext_filters|safe }}
    {% endeditable %}
  {% else %}
    {% editable community.short_description %}
    {{ community.short_description }}
    {% endeditable %}
  {% endif %}
  </div>


  <div class="col-sm-6 col-md-6 col-xl-8">
    <div class="row">
      <!-- Profile Picture -->
      <div class="col-xs-12" id="community-detail-profile-image">
        {% if community.profile_image %}
          {% editable community.profile_image %}
          {% community_profile_picture_thumbnail community 600 0 %}
          {% endeditable %}
        {% endif %}
      </div>


      <!-- Description List -->
      <div class="col-xs-12 community-description-list">
        {% editable community.email community.website community.phone community.year_founded community.number_of_adults community.number_of_children %}
        {% community_info_description_list community %}
        {% endeditable %}
      </div>
    </div>
  </div>
</div>


<!-- Systems & Structures Documents -->
{% with community.documents.all as documents %}
{% if documents.exists %}
  <h2>Documents</h2>
  <div class="row" id="community-documents">
    <div class="col-sm-12">
      <table class="table table-condensed table-striped header-fixed">
        <thead>
          <th>Name</th>
          <th>Category</th>
        </thead>
        <tbody>
          {% for document in documents|dictsort:"title" %}
            <tr>
              <td><a href="{{ document.get_absolute_url }}">
                {{ document.title }}
              </a></td>
              <td>{{ document.category }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
{% endwith %}


<!-- Gallery -->
{% with community.images.all as images %}
{% if images %}
  <h2>Gallery</h2>
  <div class="row gallery">
  {% for image in images %}
    <div class="col-xs-4 col-sm-3">
    <a class="thumbnail" rel="#image-{{ image.id }}" 
       title="{{ image.description }}" href="{{ image.file.url }}">
      <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 131 75 %}" />
    </a>
    </div>
  {% endfor %}
  </div>
{% endif %}
{% endwith %}


<!-- Blog Posts -->
{# Each blog post should be an ``entry`` returned by ``feedparser``. #}
{% cache 86400 blog_posts community.slug %}
{% with community.get_latest_blog_posts as blog_posts %}
{% if blog_posts %}
  <h2 class="community-latest-updates">Latest Updates</h2>
  <div class="row community-blog-posts">
    {% for blog_post in blog_posts %}
      {% if blog_post.description|richtext_filters %}
      <div class="community-blog-post col-xs-12">
        <h3>{{ blog_post.title }}
          {% if blog_post.author %}
            <small>by {{ blog_post.author }}{% if blog_post.published%},
              {{ blog_post.published|timesince|get_first_by:"," }} ago{% endif %}
            </small>
          {% endif %}
        </h3>
        <p>{{ blog_post.description|richtext_filters|safe }}</p>
        <div class="pull-left">
          <a href="{{ blog_post.comments }}" target="_blank"><button class="btn btn-link btn-xs">
            {% if blog_post.slash_comments %}
              {{ blog_post.slash_comments }} Comment{{ blog_post.slash_comments|pluralize }}
            {% else %}
              Comments
            {% endif %}
            <small><span class="glyphicon glyphicon-comment"></span></small>
          </button></a>
          <a href="{{ blog_post.link }}" target="_blank"><button class="btn btn-link btn-xs">
            Read More <small><span class="glyphicon glyphicon-new-window"></span></small>
          </button></a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endwith %}
{% endcache %}

{% endblock %}



{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    /* Simple Lightbox for the Profile Image */
    $('.profile-image').magnificPopup({
            type: 'image',
            titleSrc: 'title',
            closeOnContentClick: true,
      });
    /* Gallery Lightbox for the Gallery Images */
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        }
    });
});
</script>
{% endblock %}
