{% extends "base.html" %}

{% load communities_tags communities_tags_extras mezzanine_tags staticfiles cache %}

{% comment %}
  A `community_list` variable is expected. A `page` variable will be
  automatically passed by Mezzanine if a `Page` matches the URL.
{% endcomment %}

{% load i18n mezzanine_tags keyword_tags %}


{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}


{% block meta_title %}{% trans "Our Communities" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
  {% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
  {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block title %}{% trans "Our Communities" %}{% endblock %}

{% block main %}

<h2 id="member-communities">Member Communities</h2>
<div class="gallery row">
  {% for community in community_list %}
    <div class="col-sm-6 col-lg-4">
      {% community_info_thumbnail_block community %}
    </div>
    {# Leave space at bottom of short columns #}
    {% if forloop.counter|divisibleby:2 %}
      <div class='clearfix visible-sm'></div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
      <div class='clearfix visible-lg'></div>
    {% endif %}
  {% endfor %}
</div>


{% if in_dialog_list %}
  <h2 id="in-dialog-communities">Communities In Dialogue</h2>
  <div class="gallery row">
    {% for community in in_dialog_list %}
      <div class="col-sm-6 col-lg-4">
        {% community_info_thumbnail_block community %}
      </div>
      {# Leave space at bottom of short columns #}
      {% if forloop.counter|divisibleby:2 %}
        <div class='clearfix visible-sm'></div>
      {% endif %}
      {% if forloop.counter|divisibleby:3 %}
        <div class='clearfix visible-lg'></div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% endblock %}


{% block right_panel %}

<!-- Latest Blog Posts Widget -->
{% nevercache %}
{% cache 86400 all_latest_blog_posts_widget %}
{% community_all_latest_blog_posts as blog_posts %}
  <h3 id="all-latest-blog-posts-sidebar">Latest Blog Posts</h3>
  <ul class="list-group">
    {% for post in blog_posts %}
      <li class="list-group-item">
        <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
        by {{ post.author }}
        <small><em>
          from <a href="{{ post.community.get_absolute_url }}">{{ post.community.title }}</a>
        </em></small>
      </li>
    {% endfor %}
  </ul>
{% endcache %}
{% endnevercache %}

{{ block.super }}
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    $('.gallery').find('.profile-image').each(function() {
        $(this).magnificPopup({
            type: 'image',
            titleSrc: 'title',
            closeOnContentClick: true,
        })
    });
});
</script>
{% endblock %}
